@font-face {
    font-family: Noto Sans TC;
    src: url("@/assets/fonts/NotoSansTC/NotoSansTC-Regular.otf");
}

@font-face {
    font-family: Noto Sans CJK;
    src: url("@/assets/fonts/NotoSansCJK/NotoSansCJKtc-VF.otf");
}

@font-face {
    font-family: Monument Extended;
    src: url("@/assets/fonts/MonumentExtended/MonumentExtended-Regular.otf");
}

@font-face {
    font-family: "Pilot Command Italic";
    src: url("@/assets/fonts/PilotCommandItalic/PilotCommandItalic-jE3J7.otf");
}

$color_black: #333333;

$color-bg: #06102B;